@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=PT+Serif:ital,wght@1,700&family=Poppins:ital,wght@0,300;0,400;1,900&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: aliceblue
}
body{
    padding: 0;
    margin: 0;
    background: #000 !important;
}

.mainCart p{
    font-size: 150%;
    margin-left: 2%;
    margin-top: 1%;
    color: #fff;
}
.cards{
    display: flex;

    
}






.portfolio{
    padding-bottom: 7rem;
}

.portfolio h2{
    margin-bottom: 8rem;
}

.portfolio .portfolio-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background: #6b0e46;

    /* margin-left: 50rem; */
    /* justify-content: space-between; */
   column-gap: 10px !important;
   gap: 0.5rem;
   animation: leftToRight 2.5s cubic-bezier(.36, -0.01, .5, 1.38) forwards;


}
.portfolio-container .portfolio-box{
    margin-left: 50rem;
    position: relative;
    display: flex;
    /* margin-left: -10%; */
    /* border-radius: 2rem; */
    width: 180px;
    background: #6b0e46;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0) ;
    overflow: hidden;
    flex-shrink: 0;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfoilio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(  #fde5f3 , rgba(248, 241, 241, 0.1));
    /* color: #6b0e46 ; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 0 9rem; */
    padding: 15%;
    opacity: 0;
    transition: .5s ease;
}
.portfolio-box:hover .portfoilio-layer{
   opacity: 1;
}


.portfoilio-layer h4{
    font-size: 10px;
    font-weight: 900;
    font-family: sans-serif;
}

.portfolio-box .portfoilio-layer .cards-wri{
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    font-family: sans-serif;
    color: #6b0e46 ;
    /* margin: .1rem 0 1rem; */
    margin-bottom: 0;
}
.portfoilio-layer #author{
    font-size: 18px;
    font-weight: 600;
    /* text-align: in; */
    color: #6b0e46 ;
    display: inline !important;
    font-family: sans-serif;
    /* margin: .1rem 0 1rem; */
    margin-bottom: 0;
}
.portfoilio-layer .price{
    font-size: 13px;
    font-weight: 600;
    color: #6b0e46 ;
    font-family: sans-serif;
    /* margin: .1rem 0 1rem; */
    margin-bottom: 0;
}
.portfoilio-layer button{
    background-color: #6b0e46;
    color: #fff;
    font-size: 15px;
    padding: 7px;
    border-radius: 15px;
    border: #6b0e46;
}

.portfoilio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #020202;
    border-radius: 50%;
}

.portfoilio-layer a i{
    font-size: 15px;
    color: #fff;
}















.mainCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-cart{
    margin-right: 32%;
}

#add{
    width: 25px;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    display: flex;
    font-size: 12px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -17px;
}
.cartTab{
    width: 400px;
    background-color: #000;
    color: #fff;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-50px);
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: #fff;
    color: #1D4948;
    font-size: 17px;
    font-weight: 600;
    border: none;
}

.cartTab .btn .close{
    background-color: #1D4948;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
.cartlist .item{
    margin-bottom: 500px;
}
.cartlist .item .img img{
    width: 80%;
}

.cartlist .item{
    display: grid;
    grid-template-columns: 65px 100px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    cursor:default;
}
.cartlist .item .quantity{
    margin-top: -15px;
}

.cartlist .item .quantity span {
    display: inline-block;
    background: #fff;
    color: #000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.cartlist .item .quantity span:nth-child(2){
    background-color: transparent;
    color: #fff;
    cursor: default;
}

.cartlist .item:nth-child(even){
    background-color: #eee1;
}
.cartlist{
    overflow: auto;
}
.cartlist::-webkit-scrollbar{
    width: 0;
}

/* .cartlist .item .quantity span{
    margin-top: -15px;
    margin-right: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    color: #000;
} */